<h2>My Meters</h2>
<div>
  <label>Name:
    <input #meterName/>
  </label>
  <label>Description:
    <input #meterDescription/>
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(meterName.value, meterDescription.value); meterName.value=''">add</button>
</div>

<table class="table table-hover table-striped">
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let meter of meters">
      <th scope="row"><a routerLink="/detail/{{meter.id}}">{{meter.id}}</a></th>
      <td>{{meter.name}}</td>
      <td>{{meter.description}}</td>
      <td><button type="button" class="btn btn-dark btn-sm" title="delete meter" (click)="delete(meter)">x</button></td>
    </tr>
  </tbody>
</table>
